# <center><font color='blue'>IS362 Final Project 5 Fall 2020</center><font>

![My_Text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZtgSr9JkT6mwn474na4hRPHouehtMwM94lQ&usqp=CAU)

##### Loaded CSV file that is used to read in Pandas DataFrame:

In [94]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [95]:
df_NY_Water = pd.read_csv(r'C:\Users\Poeticflo\Downloads\Water_Consumption_In_The_New_York_City.csv')

In [96]:
df_NY_Water_dtype_check = df_NY_Water.dtypes
df_NY_Water_dtype_check

Year             int64
Population     float64
Consumption    float64
GPP              int64
dtype: object

##### Using head() to display the first 10 rows of the data:

In [97]:
df_NY_Water.head(10)

   Year  Population  Consumption  GPP
0  1979   7102100.0       1512.0  213
1  1980   7071639.0       1506.0  213
2  1981   7089241.0       1309.0  185
3  1982   7109105.0       1382.0  194
4  1983   7181224.0       1424.0  198
5  1984   7234514.0       1465.0  203
6  1985   7274054.0       1326.0  182
7  1986   7319246.0       1351.0  185
8  1987   7342476.0       1447.0  197
9  1988   7353719.0       1484.0  202

In [98]:
df_NY_Water_count = df_NY_Water.count()
df_NY_Water_count

Year           41
Population     41
Consumption    41
GPP            41
dtype: int64

In [69]:
#### The amount of students that took the college boards

In [101]:
board = df_NY_Water.Population.sum()
board

320131300.5

In [111]:
df_NY_Water_Mean.sum()

NameError: name 'df_NY_Water_Mean' is not defined

In [109]:
Water_Consumption_Per_Person = df_NY_Water.groupby('Consumption').Population.count()
Water_Consumption_Per_Person

Population
7071639.0    1
7089241.0    1
7102100.0    1
7109105.0    1
7181224.0    1
7234514.0    1
7274054.0    1
7319246.0    1
7335650.0    1
7342476.0    1
7344175.0    1
7353719.0    1
7374501.0    1
7428944.0    1
7506166.0    1
7570458.0    1
7633040.0    1
7697812.0    1
7773443.0    1
7858259.0    1
7947660.0    1
8008278.0    1
8024963.5    1
8041649.0    1
8058334.5    1
8075020.0    1
8091705.5    1
8108391.0    1
8125076.5    1
8141762.0    1
8158447.5    1
8175133.0    1
8272963.0    1
8336817.0    1
8348032.0    1
8398739.0    1
8398748.0    1
8437387.0    1
8438271.0    1
8468181.0    1
8475976.0    1
Name: Population, dtype: int64

In [108]:
Schools_by_Borough.plot.bar()
plt.title('Water Consumption Per Person')
plt.xlabel('consumption')
plt.ylabel('values')

NameError: name 'Schools_by_Borough' is not defined